{% extends "admin/layouts/app.html" %}
{% block content %}
<style>
    .select2-selection__choice{
        height: 26px;
    }

    .select2-container--default .select2-selection--multiple {
        border: none !important;
        height: 0px;
    }

    .table thead th {
        font-size: 14px;
    }
</style>
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            {% if get_data %}
            <!-- <div class="row" style="float: right;">
                <div class="col">
                    <button id="export_report" class="revoke-btn">Export</button>
                </div>
            </div> -->
            <div class="col" style="text-align: right;">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle revoke-btn" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                            Export
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">      
                            <!-- <a class="dropdown-item" id="export_report" href="#">
                                <i class="mdi mdi-export text-primary"></i>
                                CSV
                            </a> -->
                            <a class="dropdown-item exportToExcel" onclick="tablesToExcel({{table_num}}, {{filter_keys}}, '{{request.session.logged_user_name}} - Report.xls', 'Excel')" href="#">
                                <i class="mdi mdi-export text-primary"></i>
                                Excel
                            </a>
                            <a class="dropdown-item exportToPDF" onclick="exportPdf()" href="#">
                                <i class="mdi mdi-export text-primary"></i>
                                PDF
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            {% endif %}
            <div class="row my-3">
                <div class="col" style="margin-left: 10px;">
                    <h4 class="card-title div-title">Report</h4>
                </div>
            </div>
            <form class="forms-sample" action="{% url 'report' %}" method="post">
                <input type="hidden" id="loggedUserName" value="{{request.session.logged_user_name}}">
                {% csrf_token %}
                {% if request_data %}
                <div class="row">
                    {% for requests in request_data %}
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleInputName1">Date From</label>
                            <input type="date" name="date_from" class="form-control" id="exampleInputName1" style="height: 33px;" value="{{requests.date_from}}" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleInputName1">Date To</label>
                            <input type="date" name="date_to" class="form-control" id="exampleInputName1"  value="{{requests.date_to}}" style="height: 33px;" required>
                        </div>
                    </div>
                    {% if not request.session.clientId %}
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleInputName1">Client</label>
                            <select name="client_id" class="form-control client" required>
                                <option selected disabled>Select client</option>
                                {% for x in clients %}
                                <option value="{{x.id}}" {% if x.id|slugify == requests.client_id|slugify %} selected {% endif %}>{{x.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <p class="card-description client-error" style="color: red; display:none">
                            Please select client
                        </p>
                    </div>
                    {% else %}
                    <input type="hidden" value="{{request.session.clientId}}" name="client_id" class="client">
                    {% endif %}
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleInputName1">Report Type</label>
                            <select name="category" class="form-control category" id="exampleInputName1" style="height: 33px;" required>
                                <option value="staff" {% if requests.category == 'staff' %} selected {% endif %}>Staff</option>
                                <option value="branch" {% if requests.category == 'branch' %} selected {% endif %}>Branch</option>
                                <option value="window_zone" {% if requests.category == 'window_zone' %} selected {% endif %}>Window Zone</option>
                                <option value="zone" {% if requests.category == 'zone' %} selected {% endif %}>Zone</option>
                                <option value="time_wise_branch" {% if requests.category == 'time_wise_branch' %} selected {% endif %}>Time Wise Branch</option>
                                <option value="time_wise_staff" {% if requests.category == 'time_wise_staff' %} selected {% endif %}>Time Wise Staff</option>
                                <option value="performance_wise_branch" {% if requests.category == 'performance_wise_branch' %} selected {% endif %}>Branch Wise Performance</option>
                                <option value="performance_wise_staff" {% if requests.category == 'performance_wise_staff' %} selected {% endif %}>Staff Wise Performance</option>
                                <option value="staff_attendance" {% if requests.category == 'staff_attendance' %} selected {% endif %}>Staff Attendance</option>
                            </select>
                        </div>
                        <p class="card-description error" style="color: red; display:none">
                            Please select date
                        </p>
                    </div>
                    <div class="col-md-2 all_type_div">
                        <div class="form-group">
                            <label for="exampleInputName1">Select</label>
                            <select name="all_type" class="form-control all_type" id="exampleInputName1" style="height: 33px;" required>
                                <option value="Not at all" {% if requests.all_type == 'Not at all' %}selected {% endif %}>Select Individually</option>
                                <option value="All" {% if requests.all_type == 'All' %}selected {% endif %}>All</option>
                            </select>
                        </div>
                    </div>
                    
                    {% if requests.category == 'staff' %}
                    <div class="col-md-2 select-based-type">
                        <div class="form-group">
                            <label for="exampleInputName1">Select</label>
                            <select name="category_type_id[]" class="form-control js-select2 select_type" multiple="multiple" id="js-select1" required>
                                {% for x in staff_list %}
                                <option value="{{x.id}}" {% if x.id|stringformat:"i" in requests.category_type_id %} selected {% endif %}>{{x.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% elif requests.category == 'branch' %}
                    <div class="col-md-2 select-based-type">
                        <div class="form-group">
                            <label for="exampleInputName1">Select</label>
                            <select name="category_type_id[]" class="form-control js-select2 select_type" multiple="multiple" id="js-select1" required>
                                {% for x in branch_list %}
                                <option value="{{x.id}}" {% if x.id|stringformat:"i" in requests.category_type_id %} selected {% endif %}>{{x.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% elif requests.category == 'window_zone' %}
                    <div class="col-md-2 select-based-type">
                        <div class="form-group">
                            <label for="exampleInputName1">Select</label>
                            <select name="category_type_id[]" class="form-control js-select2 select_type" multiple="multiple" id="js-select1" required>
                                {% for x in window_zone_list %}
                                <option value="{{x.id}}" {% if x.id|stringformat:"i" in requests.category_type_id %} selected {% endif %}>{{x.zone}} - {{x.branch}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% elif requests.category == 'zone' %}
                    <div class="col-md-2 select-based-type">
                        <div class="form-group">
                            <label for="exampleInputName1">Select</label>
                            <select name="category_type_id[]" class="form-control js-select2 select_type" multiple="multiple" id="js-select1" required>
                                {% for x in zone_list %}
                                <option value="{{x.id}}" {% if x.id|stringformat:"i" in requests.category_type_id %} selected {% endif %}>{{x.zone}} - {{x.branch}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% elif requests.category == 'time' %}
                    <div class="col-md-2 select-based-type">
                        <div class="form-group">
                            <label for="exampleInputName1">Select</label>
                            <select name="category_type_id[]" class="form-control select_type" required>
                                <option value="branch" {% if requests.selected_type == 'branch' %} selected {% endif %}>Branch</option>
                                <option value="staff" {% if requests.selected_type == 'staff' %} selected {% endif %}>Staff</option>
                            </select>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleInputName1">Type</label>
                            <select name="type" class="form-control filter-type" id="exampleInputName1" style="height: 33px;" required>
                                <option value="consolidated" {% if requests.selected_type == 'consolidated' %} selected {% endif %}>Consolidated</option>
                                <option value="detailed" {% if requests.selected_type == 'detailed' %} selected {% endif %}>Detailed</option>
                            </select>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="submit" class="btn-add btn btn-block btn-primary btn-sm font-weight-medium auth-form-btn generate-button" {% if not request.session.clientId %} style="margin-top: 30px;" {% endif %}>Generate</button>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleInputName1">Date From </label>
                            <input type="date" name="date_from" class="form-control" id="exampleInputName1" style="height: 33px;" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleInputName1">Date To</label>
                            <input type="date" name="date_to" class="form-control" id="exampleInputName1" style="height: 33px;" required>
                        </div>
                    </div>
                    {%if not request.session.clientId %}
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleInputName1">Client</label>
                            <select name="client_id" class="form-control client" style="height: 33px;" required>
                                <option selected disabled>Select client</option>
                                {% for x in clients %}
                                <option value="{{x.id}}">{{x.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <p class="card-description client-error" style="color: red; display:none">
                            Please select client
                        </p>
                    </div>
                    {% else %}
                    <input type="hidden" value="{{request.session.clientId}}" name="client_id" class="client">
                    {% endif %}
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleInputName1">Report Type</label>
                            <select name="category" class="form-control category" id="exampleInputName1" style="height: 33px;" required>
                                <option disabled selected>Select report type</option>
                                <option value="staff">Staff</option>
                                <option value="branch">Branch</option>
                                <option value="window_zone">Window Zone</option>
                                <option value="zone">Zone</option>
                                <option value="time_wise_branch">Time Wise Branch</option>
                                <option value="time_wise_staff">Time Wise Staff</option>
                                <option value="performance_wise_branch">Branch Wise Performance</option>
                                <option value="performance_wise_staff">Staff Wise Performance</option>
                                <option value="staff_attendance">Staff Attendance</option>
                            </select>
                        </div>
                        <p class="card-description error" style="color: red; display:none;">
                            Please select date
                        </p>
                    </div>
                    <div class="col-md-2 all_type_div">
                        <div class="form-group">
                            <label for="exampleInputName1">Select</label>
                            <select name="all_type" class="form-control all_type" id="exampleInputName1" style="height: 33px;" required>
                                <option value="Not at all">Select Individually</option>
                                <option value="All">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 select-based-type">
                        <div class="form-group">
                            <label for="exampleInputName1">Select</label>
                            <select name="category_type_id[]" class="form-control js-select2 select_type" multiple="multiple" id="js-select1" required>
                                
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleInputName1">Type</label>
                            <select name="type" class="form-control filter-type" id="exampleInputName1" style="height: 33px;" required>
                                <option value="consolidated">Consolidated</option>
                                <option value="detailed">Detailed</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="submit" class="btn-add btn btn-block btn-primary btn-sm font-weight-medium auth-form-btn  generate-button" {% if not request.session.clientId %} style="margin-top: 30px;" {% endif %}>Generate</button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </form>
            <div class="row table2excelpdf">
                <div class="col-md-12">
                    {% for values in get_data %} 
                        {% for key,value in values.items %}
                        <h4 class="card-title">{{key|first}}</h4>
                        <input type="hidden" id="tb-head{{key.1}}" value="{{key|first}}">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                    <div class="table-responsive">
                                        {% if get_data %}
                                        <table id="tbl{{key.1}}" class="table table-bordered dataTable table2excel myTable">
                                            <thead>
                                                {% for requests in request_data %}
                                                <div style="text-align: center; text-transform: capitalize" class="mb-2">{{ requests.category }} - Report</div>
                                                {% endfor %}
                                                <tr>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Date</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Entry Time</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Exit Time</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Single</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Group</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Total Count</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Male</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Female</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Staff Name</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Visited Zone</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Visited Window Zone</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Dwell Time</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Tray</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Refreshments</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Gloves</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Backup Stock</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Business Card</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Full Uniform</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Conversion Status</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Conversion Count</th>
                                                    <th style="background-color:#5D7B9D;color:#fff;">Conversion %</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for x in value %}
                                                <tr {% if x.total_rw == True %} style="background-color:#b2cfd1;color:#000;" {% endif %}>
                                                    <td>
                                                        {{ x.date|date:"M d Y" }}
                                                    </td>
                                                    <td>
                                                        {{x.customer_entry_time}}
                                                    </td>
                                                    <td>
                                                        {{x.customer_exit_time}}
                                                    </td>
                                                    <td>
                                                        {{x.single}}
                                                    </td>
                                                    <td>
                                                        {{x.group}}
                                                    </td>
                                                    <td>
                                                        {{x.total}}
                                                    </td>
                                                    <td>
                                                        {{x.male}}
                                                    </td>
                                                    <td>
                                                        {{x.female}}
                                                    </td>
                                                    <td>
                                                        {{x.staff_name}}
                                                    </td>
                                                    <td>
                                                        {{x.zone_ids}}
                                                    </td>
                                                    <td>
                                                        {{x.window_zone_ids}}
                                                    </td>
                                                    <td>
                                                        {{x.dwell_time}}
                                                    </td>
                                                    <td>
                                                        {{x.tray}}
                                                    </td>
                                                    <td>
                                                        {{x.refreshment}}
                                                    </td>
                                                    <td>
                                                        {{x.gloves}}
                                                    </td>
                                                    <td>
                                                        {{x.backup_stock}}
                                                    </td>
                                                    <td>
                                                        {{x.business_card}}
                                                    </td>
                                                    <td>
                                                        {{x.full_uniform}}
                                                    </td>
                                                    <td>
                                                        {{x.conversion_status}}
                                                    </td>
                                                    <td>
                                                        {{x.converted_count}}
                                                    </td>
                                                    <td>
                                                        {{x.conversion_percentage}}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}
                                        <div style="text-align: center; font-weight: 600;">
                                            No Data Found
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('change','.category',function() {

        var type        = $(this).val();
        var client_id   = $('.client').val(); 

        if(client_id == null)
        {
            $('.client-error').show();
            return;
        }

        $('.select-based-type').show();
        $('.select_type').attr('required',true);
        $('.generate-button').css('margin-top','30px');

        // if(type == 'time' || type == 'performance')
        // {
        //     $('.select_type').empty();   
        //     $('.select_type').append(`<option value="branch">Branch</option>`); 
        //     $('.select_type').append(`<option value="staff">Staff</option>`);  
        //     $('.select_type').removeClass("js-select2");
        //     $('.select_type').removeAttr('id');
        //     $('.select_type').removeAttr('multiple');

        //     $('.filter-type').empty();
        //     $('.filter-type').append(`<option value="consolidated">consolidated</option>`); 

        //     $('.all_type_div').hide();
        //     $('.generate-button').css('margin-top','0px');

        //     return;
        // }

        $('.error').hide();

        $('.all_type_div').show();
        $('.generate-button').css('margin-top','30px');

        var all_type    = $('.all_type').val();

        if(all_type == 'All'){
            
            $('.select-based-type').hide();
            $('.select_type').removeAttr('required');
            $('.generate-button').css('margin-top','0px');
        }

        $.ajax({
            url:"{% url 'get-filter-category' %}",
            method:"get",
            data:{type:type,client_id:client_id},
            success:function(data)
            {  
                $('.select_type').empty();

                $('.select_type').addClass("js-select2");
                $('.select_type').attr('id','js-select1');
                $('.select_type').attr('multiple',true);

                $('.filter-type').empty();
                if(type != 'staff_attendance')
                {
                    $('.filter-type').append(`<option value="consolidated">Consolidated</option>`); 
                }
                $('.filter-type').append(`<option value="detailed">Detailed</option>`); 
                if(type == 'window_zone' || type == 'zone'||  type == 'time_wise_staff' || type == 'performance_wise_staff' || type == 'time_wise_branch' || type == 'performance_wise_branch')
                {
                    $('.filter-type').empty();
                    $('.filter-type').append(`<option value="consolidated">Consolidated</option>`);         
                }
                
                if(type == 'staff' || type == 'time_wise_staff' || type == 'performance_wise_staff' || type=='staff_attendance')
                {
                    $.each( data['models_to_return'], function( key1, value ) 
                    {
                        $('.select_type').append(`<option value="`+value['id']+`">`+value['name']+`</option>`);
                    });
                }
                else if(type == 'branch' || type == 'time_wise_branch' || type == 'performance_wise_branch')
                {
                    $.each( data['models_to_return'], function( key1, value ) 
                    {
                        $('.select_type').append(`<option value="`+value['id']+`">`+value['name']+`</option>`);
                    });
                }
                else if(type == 'window_zone')
                {
                    $.each( data['models_to_return'], function( key1, value ) 
                    {
                        console.log(value)
                        $('.select_type').append(`<option value="`+value['id']+`">`+value['zone']+` - `+value['branch']+`</option>`);
                    });
                }
                else if(type == 'zone')
                {
                    $.each( data['models_to_return'], function( key1, value ) 
                    {
                        $('.select_type').append(`<option value="`+value['id']+`">`+value['zone']+` - `+value['branch']+`</option>`);
                    });
                }
            }
        });
    });

    $(document).on('click','.select_type',function() {
        var category    = $('.category').val();

        if(category == null)
        {
            $('.error').show();
        }
        
    });
</script>
<script>

    $(document).on('change','.client',function() {
        var client_id   = $(this).val();    
        
        $('.client-error').hide();
        $('.category').val('');
        $('.select_type').empty();
    });

</script>
<script>
    $(document).on('change','.all_type',function() {
        var type    = $(this).val();
        if(type == 'All'){
            $('.select-based-type').hide();
            $('.select_type').removeAttr('required');
            $('.generate-button').css('margin-top','0px');
        }
        else
        {
            $('.select-based-type').show();
            $('.select_type').attr('required',true);
            $('.generate-button').css('margin-top','30px');
        }
    });
</script>
<script>
    $(document).ready(function(){
        var type    = $('.all_type').val();
        if(type == 'All'){
            $('.select-based-type').hide();
            $('.select_type').removeAttr('required');
            $('.generate-button').css('margin-top','0px');
        }
    });
</script>

<script>
    function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
}

function export_table_to_csv(html, filename) {
	var csv = [];
	var rows = document.querySelectorAll("table tr");
	
    for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");
		
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
		csv.push(row.join(","));		
	}

    // Download CSV
    download_csv(csv.join("\n"), filename);
}

document.querySelector("#export_report").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
	export_table_to_csv(html, "table.csv");
});
</script>
<!-- -----------------------Excel----------------- -->
<script>
      var tablesToExcel = (function() {
    var uri = 'data:application/vnd.ms-excel;base64,'
    , tmplWorkbookXML = '<?xml version="1.0"?><?mso-application progid="Excel.Sheet"?><Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet">'
      + '<DocumentProperties xmlns="urn:schemas-microsoft-com:office:office"><Author>Axel Richter</Author><Created>{created}</Created></DocumentProperties>'
      + '<Styles>'
      + '<Style ss:ID="Currency"><NumberFormat ss:Format="Currency"></NumberFormat></Style>'
      + '<Style ss:ID="Date"><NumberFormat ss:Format="Medium Date"></NumberFormat></Style>'
      + '</Styles>' 
      + '{worksheets}</Workbook>'
    , tmplWorksheetXML = '<Worksheet ss:Name="{nameWS}"><Table>{rows}</Table></Worksheet>'
    , tmplCellXML = '<Cell{attributeStyleID}{attributeFormula}><Data ss:Type="{nameType}">{data}</Data></Cell>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
    return function(tables, wsnames, wbname, appname) {
      var ctx = "";
      var workbookXML = "";
      var worksheetsXML = "";
      var rowsXML = "";

    
      for (var i = 0; i < tables.length; i++) {
        if (!tables[i].nodeType) tables[i] = document.getElementById(tables[i]);
        
        for (var j = 0; j < tables[i].rows.length; j++) {
          rowsXML += '<Row>'
          for (var k = 0; k < tables[i].rows[j].cells.length; k++) {
            var dataType = tables[i].rows[j].cells[k].getAttribute("data-type");
            var dataStyle = tables[i].rows[j].cells[k].getAttribute("data-style");
            var dataValue = tables[i].rows[j].cells[k].getAttribute("data-value");
            dataValue = (dataValue)?dataValue:tables[i].rows[j].cells[k].innerHTML;
            dataValue = (dataValue)?dataValue.trim():tables[i].rows[j].cells[k].innerHTML;
           
            var dataFormula = tables[i].rows[j].cells[k].getAttribute("data-formula");
            dataFormula = (dataFormula)?dataFormula:(appname=='Calc' && dataType=='DateTime')?dataValue:null;
            ctx = {  attributeStyleID: (dataStyle=='Currency' || dataStyle=='Date')?' ss:StyleID="'+dataStyle+'"':''
                   , nameType: (dataType=='Number' || dataType=='DateTime' || dataType=='Boolean' || dataType=='Error')?dataType:'String'
                   , data: (dataFormula)?'':dataValue
                   , attributeFormula: (dataFormula)?' ss:Formula="'+dataFormula+'"':''
                  };
            rowsXML += format(tmplCellXML, ctx);
          }
          rowsXML += '</Row>'
        }
        ctx = {rows: rowsXML, nameWS: wsnames[i] || 'Sheet' + i};
        worksheetsXML += format(tmplWorksheetXML, ctx);
        rowsXML = "";
      }

      ctx = {created: (new Date()).getTime(), worksheets: worksheetsXML};
      workbookXML = format(tmplWorkbookXML, ctx);

      var link = document.createElement("A");
      link.href = uri + base64(workbookXML);
      link.download = wbname || 'Workbook.xls';
      link.target = '_blank';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }
  })();
</script>
<!-- -----------------------Excel----------------- -->
<!-- -----------------------pdf----------------- -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/vfs_fonts.js"></script>
<script type="text/javascript">
   function exportPdf() {
        var docDefinition = {
            content: [],
            styles: {
            header: {
                fontSize: 4,
                bold: true
            },
            tableExample: {
                margin: [0, 5, 0, 5],
                fontSize: 4,
            },
            }
        };

        // Get all tables with the class name "myTable"
        var tables = $(".myTable");

        // Loop through each table and add it to the PDF document
        for (var i = 0; i < tables.length; i++) {
            var table = tables[i];

            // Get the table data and create the table body
            var tableData = [];
            var headers = [];
            $(table)
            .find("thead th")
            .each(function () {
                headers.push({ text: $(this).text(), style: "header" });
            });
            tableData.push(headers);
            $(table)
            .find("tbody tr")
            .each(function () {
                var rowData = [];
                $(this)
                .find("td")
                .each(function () {
                    rowData.push({ text: $(this).text().trim(), alignment: "center" });
                });
                tableData.push(rowData);
            });

            // Add the table to the PDF document
            var table_title = $('#tb-head'+(i + 1)).val();
            docDefinition.content.push({ text: table_title, style: "header" });
            docDefinition.content.push({
            style: "tableExample",
            table: {
                headerRows: 1,
                widths: Array(headers.length).fill("auto"),
                body: tableData,
            },
            });
        }

        // Create the PDF document and download it
        var pdfDoc = pdfMake.createPdf(docDefinition);
        var logged_user = $('#loggedUserName').val();
        pdfDoc.download(logged_user+"-report.pdf");
}

</script>
<!-- -----------------------pdf----------------- -->
{% endblock %}