{% extends "admin/layouts/app.html" %}
{% block content %}
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        <div>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert {% if message.tags %}alert-danger{% endif %}" role="alert">{{ message }}</div>
                    {% else %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4">
                            <a href="{% url 'list-branch' %}">
                                <div style = "display : inline-block" class="me-2">
                                    <i class="fa fa-arrow-left card-title"></i>
                                </div>
                            </a>
                            <div style = "display : inline-block">
                                <h4 class="card-title">Edit Branch Details</h4>
                            </div>
                        </div>
                        {% for branch in branch_data%}
                        <form class="forms-sample" action="{% url 'edit-branch' %}?id={{branch.id}}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputName1">Name</label>
                                <input type="text" name="name" value="{{branch.name}}" class="form-control" id="exampleInputName1" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Email</label>
                                <input type="email" name="email" value="{{branch.email}}" class="form-control" id="exampleInputName1" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">CC (Enter a comma separated data like abcd@gmail.com,gbf@gmail.com)</label>
                                <textarea  class="form-control" name="cc" rows="4" cols="50" placeholder="CC">{{branch.cc}}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Client</label>
                                <select name="client_id" class="form-control" id="exampleInputName1" required>
                                    <option disabled>Select client</option>
                                    {% for x in client_list %}
                                    <option value="{{x.id}}" {% if x.id|slugify == branch.client_id.id|slugify %} selected="selected" {% endif %}>{{x.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Layout</label>
                                <p class="mb-3">
                                    {% if branch.layout %}
                                    <img src="/media/{{branch.layout}}" height="auto" data-enlargeable width="100" style="cursor: zoom-in">
                                    
                                    {% endif %}
                                </p>
                                <input type="file" name="image" class="form-control" id="exampleInputName1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Upload Document</label>
                                <p class="mb-3">
                                    {% if branch.document %}
                                    <img src="/media/{{branch.document}}" height="auto" data-enlargeable width="100" style="cursor: zoom-in">
                                   
                                    {% endif %}
                                </p>
                                <input type="file" name="image1" class="form-control" id="exampleInputName1">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary btn-submit me-2">Submit</button>
                            </div>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('img[data-enlargeable]').addClass('img-enlargeable').click(function() {
    var src = $(this).attr('src');
    var modal;

    function removeModal() {
        modal.remove();
        $('body').off('keyup.modal-close');
    }
    modal = $('<div>').css({
        background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
        backgroundSize: 'contain',
        width: '100%',
        height: '100%',
        position: 'fixed',
        zIndex: '10000',
        top: '0',
        left: '0',
        cursor: 'zoom-out'
    }).click(function() {
        removeModal();
    }).appendTo('body');
    //handling ESC
    $('body').on('keyup.modal-close', function(e) {
        if (e.key === 'Escape') {
        removeModal();
        }
    });
    });
</script>

{% endblock %}