{% extends "admin/layouts/app.html" %}
{% block content %}
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4">
                            <a href="{% url 'list-zones' %}">
                                <div style = "display : inline-block" class="me-2">
                                    <i class="fa fa-arrow-left card-title"></i>
                                </div>
                            </a>
                            <div style = "display : inline-block">
                                <h4 class="card-title">Edit Zone</h4>
                            </div>
                        </div>
                        {% for zone in zone_data %}
                        <form class="forms-sample" action="{% url 'edit-zone' %}?id={{zone.id}}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputName1">Zone</label>
                                <input type="text" name="zone" value="{{zone.zone}}" class="form-control" id="exampleInputName1" placeholder="Zone" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Branch</label>
                                <select name="branch_id" class="form-control" id="exampleInputName1" required>
                                    <option disabled>Select branch</option>
                                    {% for x in branch_list %}
                                    <option value="{{x.id}}" {% if x.id == zone.branch_id.id %} selected="selected" {% endif %}>{{x.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary me-2 btn-submit">Submit</button>
                            </div>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}