{% extends "admin/layouts/app.html" %}
{% block content %}
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4">
                            <a href="{% url 'list-customer' %}?id={{task_id}}">
                                <div style = "display : inline-block" class="me-2">
                                    <i class="fa fa-arrow-left card-title"></i>
                                </div>
                            </a>
                            <div style = "display : inline-block">
                                <h4 class="card-title">Request</h4>
                            </div>
                        </div>
                        <form class="forms-sample" action="{% url 'task-request' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{task_id}}">
                            <div class="form-group">
                                <label for="exampleInputName1">Remark</label>
                                <textarea  class="form-control" name="remark" rows="4" cols="50" required></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary btn-submit me-2">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}