<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ActSheet</title>
    <link rel="stylesheet" href="/static/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/admin/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/admin/css/style.css">
    <link rel="shortcut icon" href="/static/admin/images/ActsheetIcon.png" />
</head>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                <img src="/static/admin/images/ActSheet.png" alt="logo">
              </div>
              <!-- <h4>Enter your registered email address</h4>
              <h6 class="font-weight-light">Note : You will receive password reset link via email.</h6> -->
              <div>
                  {% if messages %}
                      {% for message in messages %}
                          {% if message.tags == 'error' %}
                          <div class="alert {% if message.tags %}alert-danger{% endif %}" role="alert">{{ message }}</div>
                          {% else %}
                          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                          {% endif %}
                      {% endfor %}
                  {% endif %}
              </div>
              <form class="pt-3" action="{% url 'tl-forgot-password' %}?pin={{user_id}}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{user_id}}">
                <div class="form-group">
                  <label for="exampleInputEmail">New Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="password" name="new_password" class="form-control form-control-lg border-left-0" onChange="onChange()" placeholder="New Password" required>
                  </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail">Confirm Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                      </div>
                      <input type="password" name="confirm_password" class="form-control form-control-lg border-left-0" onChange="onChange()" placeholder="Confirm Password" required>
                    </div>
                  </div>
                <div class="my-3">
                  <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn input-group">SUBMIT</submit>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2023  All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/admin/vendors/base/vendor.bundle.base.js"></script>
  <script src="/static/admin/js/template.js"></script>
  <script>
      $(document).ready(function() {
          $(".alert").fadeTo(8000, 1000).slideUp(900, function(){
              $(".alert").slideUp(900);
          });
      });
  </script>
  <script>
        function onChange() {
            const password = document.querySelector('input[name=new_password]');
            const confirm = document.querySelector('input[name=confirm_password]');
        
            if (confirm.value === password.value) {
                confirm.setCustomValidity('');
            } else {
                confirm.setCustomValidity('Passwords do not match');
            }
        }
    </script>
</body>
</html>
