{% extends "admin/layouts/app.html" %}
{% block content %}
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        {% for task in task_data %}
                        <div class="mb-5">
                            <a href="{% url 'list-task' %}">
                                <div style = "display : inline-block" class="me-2">
                                    <i class="fa fa-arrow-left card-title"></i>
                                </div>
                            </a>
                            <div style = "display : inline-block">
                                <h4 class="card-title">View Task Details</h4>
                            </div>
                            <div style="text-align: right; margin-top: -44px;">
                                <a href="{% url 'list-customer' %}?id={{task.id}}" class="revoke-btn" style="width: 141px;"><i class="fa fa-undo"></i>&nbsp; Add Customer</a>
                            </div>
                        </div>
                        <form class="forms-sample" action="{% url 'edit-task' %}?id={{task.id}}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputName1">Title</label>
                                <input type="text" name="title" class="form-control" id="exampleInputName1" placeholder="Title" value="{{task.title}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Description</label>
                                <textarea  class="form-control" name="description" rows="4" cols="50" readonly>{{task.description}}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Job</label>
                                <select name="job_id" class="form-control" id="exampleInputName1" readonly>
                                    <option value="" selected disabled>Select Job</option>
                                    {% for x in job_list %}
                                    <option value="{{x.id}}" {% if x.id == task.job_id.id %} selected="selected" {% endif %}>{{x.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Start Date</label>
                                        <input type="date" name="start_date" class="form-control"  value="{{task.start_date|date:'Y-m-d'}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputName1">Start Time</label>
                                        <input type="time" name="start_time" class="form-control" id="exampleInputName1"  value="{{task.start_time}}" readonly>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputName1">End Date</label>
                                        <input type="date" name="end_date" class="form-control" id="exampleInputName1" value="{{task.end_date|date:'Y-m-d'}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputName1">End Time</label>
                                        <input type="time" name="end_time" class="form-control" id="exampleInputName1"  value="{{task.end_time}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Required Hours</label>
                                <input type="numbmer" name="required_hrs" class="form-control" id="exampleInputName1" placeholder="Required Hours" value="{{task.required_hrs}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Team Leader</label>
                                <select name="team_leader_id" class="form-control" id="exampleInputName1" readonly>
                                    <option value="" selected disabled>Select Team Leader</option>
                                    {% for x in team_leader_list %}
                                    <option value="{{x.id}}" {% if x.id == task.team_leader_id.id %} selected="selected" {% endif %}>{{x.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Agent</label>
                                <select name="agent_id" class="form-control" id="exampleInputName1" readonly>
                                    <option value="" selected disabled>Select Agent</option>
                                    {% for x in agent_list %}
                                    <option value="{{x.id}}" {% if x.id == task.agent_id.id %} selected="selected" {% endif %}>{{x.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}